.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}

body {
    font-size: 14px;
    background-color: var(--cream);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

main {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    margin: auto;
}

.details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 30px;
}

.price {
    display: flex;
    gap: 1rem;
}

del {
    text-decoration: line-through;
    padding-top: 1rem;
}

.current {
    color: var(--dark-cyan);
    font-weight: 700;
    font-size: 3rem;
    font-family: Montserrat, serif;
}

button {
    background-color: var(--dark-cyan);
    color: var(--cream);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: var(--very-dark-blue);
}

picture {
    max-width: 300px;
    max-height: 450px;
}

picture img {
    max-width: 300px;
    max-height: 450px;
}

.perfume {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    letter-spacing: .2rem;
}

h1 {
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 2rem;
}

.subtext {
    font-family: Montserrat, sans-serif;
    line-height: 1.2rem;
}

@media(max-width: 500px) {
    main {
        flex-direction: column;
        width: 300px
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    -webkit-clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
}